#feature-mobile {
    background: linear-gradient(90deg, #f8fffe 1%, #f1fcfb 2%, #f3faf9 1%);
}
#feature-mobile .container{
    overflow: visible;
}
.mobile__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.mobile__left--part {
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.mobile__left--part img {
    width: 100%;
    transform: scale(1.2);
    z-index: 3;
}

.mobile__right--part {
    display: flex;
    justify-content: center;
}

.mobile__right-content {
    background-color: white;
    padding: 7rem 6rem 6rem 6rem;
    width: 55rem;
}

.mobile__right--tag {
    color: var(--secondary-color);
    font-weight: 500;
    padding: 1.5rem 0;
    font-size: var(--size-medium);
}

.mobile__right--title {
    font-weight: 700;
    font-size: 4.5rem;
    padding: 3rem 0;
}

.mobile__right--description {
    font-family: 400;
    color: var(--secondary-color);
    text-justify: auto;
    padding: 1rem 0;
}

.mobile__icons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 2rem;
}

.mobile__icons--box {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    transition: all .3s ease-in-out;
}

.mobile__icons--box:hover {
    transform: scale(1.5);
    box-shadow: 3rem 2.5rem 3rem .2rem rgba(128, 128, 128, 0.25);
    -webkit-box-shadow: 3rem 2.5rem 3rem .2rem rgba(128, 128, 128, 0.25);
    cursor: pointer;
}

.box__mobile--green {
    background-color: green;
    border-radius: .5rem;
}

.box__mobile--blue {
    background-color: blue;
    border-radius: .5rem;
}