#feature-web {
    display: block;
}

.web__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

.web__right--part {
    padding: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.web__right--part img {
    width: 45vw;
}

.web__right--circle {
    position: absolute;
    width: 40rem;
    height: 38rem;
    top: 20rem;
    right: 5rem;
    background-color: green;
    border-radius: 50%;
    z-index: -2;
}

.web__left--part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: -0.5rem 1.5rem 3rem 0.8rem rgba(128, 128, 128, 0.25);
    -webkit-box-shadow: -0.5rem 1.5rem 3rem 0.8rem rgba(128, 128, 128, 0.25);
}

.web__left--top {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem 10rem;
    margin: 5rem;
}

.web__left--top h3 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: 400;
}

.web__left--top h2 {
    padding: 5rem 0;
    font-size: 4.5rem;
    font-weight: 700;
}

.web__left--top p {
    font-size: 2rem;
    color: var(--secondary-color);
}

.web__left--bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10rem;
}

.web__box--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

.web__box--item img {
    width: 5rem;
    padding: 1rem;
    border-radius: 1rem;
}
.web__box--item h3{
    padding: 2rem 0;
}
.box--react {
    background: #74b9ff;
}

.box--ui {
    background: #d63031;
}