#hero {
    margin-bottom: 5rem;
}

.hero__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero__left--item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 8rem 0rem 12rem 6rem;
    line-height: 2;
}

.hero__title {
    font-size: 7.5rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 2.5rem;
    line-height: 8rem;
}

.hero__description {
    color: var(--secondary-color);
    font-size: var(--size-meduim);
}

.left--item__demo {
    display: flex;
    flex-direction: row;
    margin: 4rem 0;
    justify-content: center;
    align-items: center;
}

.hero__btn {
    padding: 1.5rem 2.5rem;
    font-size: var(--size-small);
    margin: 0 1rem;
}

.hero__right--item {
    opacity: 0.8;
}

.hero__right__picture {
    width: 40vw;
    margin: 8rem 0 0 15rem;
    transform: scale(1.3);
}

.hero_demo--platform {
    color: var(--secondary-color);
    font-weight: 500;
}
.hero__shape{
    position: relative;
    left: -3rem;
    top: 0;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: rotate(7deg) scale(.9);
}
.shape__triangle--blue{
    width: 0;
    height: 0;
    position: relative;
    top: -.2rem;
    left: 3.9rem;
    border-width: 0 2rem 3.6rem 1.5rem;
    border-color: transparent transparent #341f97 transparent;
    border-style: solid;
    transform: rotate(310deg) scale(.9);
}
.shape__triangle--green{
    position: absolute;
    top: 2.4rem;
    left: -1.6rem;
    width: 0;
    height: 0;
    border-width: 0 1.8rem 1.4rem 1.8rem;
    border-color: transparent transparent #1dd1a1 transparent;
    border-style: solid;
    transform: rotate(359deg);
    z-index: 2;
    transform: scale(.9);
}

.shape__circle--green{
    width: 5rem;
    height: 5rem;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    z-index: -2;
    border-radius: 50%;
    background-color: #1dd1a1;
}
.shape__circle--red{
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 1rem;
    left: 4.6rem;
    z-index: -1;
    border-radius: 50%;
    background-color: #ff6b6b;
}
.shape__circle--yellow{
    width: 0.9999rem;
    height: 1.8rem;
    z-index: 16;
    position: absolute;
    top: -.1rem;
    left: 1rem;
    border-radius: 50%;
    background-color: #feca57;
    transform: rotate(-24deg);
}